.consulting {
  margin-top: 35px;
}

.consulting h3 {
  letter-spacing: 1.5;
  font-size: 1.3rem;
}

.consulting__btn {
  width: 20%;
  padding: 8px 0;
  background: lightgray;
  border: none;
  border-bottom: solid 4px #73838a;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.consulting__btn:hover {
  background: rgb(131, 131, 131);
  border: none;
  border-bottom: solid 4px #5b6a74;
  color: white;
}


.consulting__fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.consulting__date {
  width: 260px;
  margin-right: 20px;
  padding: 8px;
  border: none;
  background-color: lightgray;
  border-radius: 4px;
}

.consulting__month {
  width: 260px;
  margin-right: 20px;
  padding: 8px;
  background-color: lightgray;
  border-radius: 4px;
  border: none;
}


@media (max-width: 750.98px) {

  .consulting {
    min-width: 455px;
    overflow: hidden;
  }

  .consulting h3 {
    text-align: center;
  }

  .consulting__fields {
    justify-content: center;
  }

  .consulting__date {
    width: 80%;
    margin-bottom: 30px;
  }

  .consulting__month {
    width: 80%;
    margin-bottom: 30px;
  }

  .consulting__btn {
    width: 60%;
  }
}

@media (max-width: 576.98px) {

  .consulting__date {
    margin-right: 0;
    width: 95%;
  }

  .consulting__month {
    width: 95%;
    margin-right: 0;
  }

  .consulting__btn {
    width: 80%;
  }
}
